header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.list {
    
}
div {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: column;
}